<div class="modal">
    <header class="bar bar-header bar-positive">
        <div class="button button-clear" ng-click="closeModal()">
            <span class="icon ion-close"></span>
        </div>
    </header>
    <content has-header="true" padding="true">
        <ion-view>
            <ion-content class="full-image">
                <img src="ion-checkmark-round">
            </ion-content>
            <button ng-click="jump(); pular(); closeModal()"class="button button-full button-positive">
                Proxima Questão
            </button>
            <button class="opcoes2 button button-full button-calm">
                Encerrar Partida
            </button>
        </ion-view>
    </content>
</div>
