<div class="modal modalNew">
    <ion-view>
        <ion-content has-header="true" class="backgroundEndgame">
            <div class="card">
                <div class="item item-text text-center">
                    <div ng-if="certa()">
                            Acertou
                    </div>
                    <div ng-if="!certa()">
                            Errou
                    </div>
                </div>
            </div>
            <button class="button button-full button-balanced">
                <question></question> pontos
            </button>
            <button class="button button-full button-balanced">
                Total na partida: <result></result> pontos
            </button>
            <div class="row row-bottom right">
                <div class="col col-50">
                    <button ng-click="encerrar(); clean(); closeModal()"class="button icon-left ion-ios-close-empty button-calm">
                        <h5>Encerrar Partida</h5>
                    </button>
                </div>
                <div class="col col-50">
                    <button ng-click="jump(); clean(); closeModal()"class="button button-positive icon-right ion-ios-arrow-right">
                        <h5>Próxima Questão</h5>
                    </button>
                </div>
            </div>

        </ion-content>
    </ion-view>
</div>
