<ion-view>
    <ion-content >
        <div ng-if="!isAuthenticated()">
            <div class="logo icon-profile text-center">
                  <img class="circular animated zoomInDown" ng-src="https://graph.facebook.com/{{ user.id }}/picture?width=600&height=600" />
            </div>
            <h2 class="center">
                <font color="white">Pontuação:</font>
            </h2>
            <div ng-if="end()">
              <button class="button button-full button-positive icon-left ion-star" >
                {{buttonsA.score}} pontos
              </button>
            </div>
         </div>
      </ion-content>
</ion-view>
<div class="tabs tabs-icon-only tabs-positive">
    <a class="tab-item" ui-sref="app.start">
    <i class="icon ion-ios-home"></i>
    Menu Principal
    </a>
    <a class="tab-item" ui-sref="app.leaderboard">
    <i class="icon ion-navicon" ></i>
    Melhores Pontuações
    </a>
</div>
