<ion-view>
    <ion-content class="backgroundQuestion icon-profile padding">
        <button ng-click="nextPlayer()" class="opcoes1 button button-full button-positive icon-left ion-plus">
            Log
        </button>
        <div class="list">
            <h2 class="text-center"><font color="white">Pontuações</font></h2>
            <a class="item item-avatar" href="#">
                <img src="img/ionic.png">
                <h2>Name</h2>
                <p>0000 pts.</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/ionic.png">
                <h2>Name</h2>
                <p>0000 pts.</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/ionic.png">
                <h2>Name</h2>
                <p>0000 pts.</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/ionic.png">
                <h2>Name</h2>
                <p>0000 pts.</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/ionic.png">
                <h2>Name</h2>
                <p>0000 pts.</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/ionic.png">
                <h2>Name</h2>
                <p>0000 pts.</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/ionic.png">
                <h2>Name</h2>
                <p>0000 pts.</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/ionic.png">
                <h2>Name</h2>
                <p>0000 pts.</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/ionic.png">
                <h2>Name</h2>
                <p>0000 pts.</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/ionic.png">
                <h2>Name</h2>
                <p>0000 pts.</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/ionic.png">
                <h2>Name</h2>
                <p>0000 pts.</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/ionic.png">
                <h2>Name</h2>
                <p>0000 pts.</p>
            </a>
        </div>
    </ion-content>
</ion-view>
<div class="bar bar-footer bar-clear">
    <a class="button button-clear icon-left ion-ios-arrow-left" ui-sref="start.start"><font color="black"> Voltar</font> </a>
</div>
