<ion-view>
    <ion-content class="icon-profile padding">
        <h2 class="text-center margin-button"><font color="white">Maiores Pontuações</font></h2>
        <div class="list" ng-repeat="player in players">
            <a class="item item-avatar">
                <img ng-src="https://graph.facebook.com/{{ player.idFb }}/picture?width=600&height=600">
                <h2>{{player.name}}</h2>
                <p>{{player.score}} pts.</p>
            </a>
        </div>
    </ion-content>
</ion-view>
<div class="bar bar-footer bar-clear">
    <a class="button button-clear icon-left ion-ios-arrow-left" ui-sref="app.start"><font color="white"> Voltar</font> </a>
</div>
