<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
<ion-nav-view name="start" animation="slide-left-right"></ion-nav-view>
<ion-nav-view name="theme" animation="slide-left-right"></ion-nav-view>
<ion-nav-view name="question" animation="slide-left-right"></ion-nav-view>
<ion-nav-view name="leaderboard" animation="slide-left-right"></ion-nav-view>
<ion-nav-view name="endgame" animation="slide-left-right"></ion-nav-view>
<ion-nav-view name="add" animation="slide-left-right"></ion-nav-view>
