<ion-view>
    <div>
        {{counter}}
        <button ng-click="stop()">Stop</button>
    </div>
    <ion-content class="backgroundQuestion padding">
        <div class="text-center opcquest">
            <h4>
                <font color="white">Quanto vale: {{values.ask}}?</font>
            </h4>
        </div>
        <ul class="list "ng-repeat="val in values.val track by $index">
            <li class="center">
                <a ng-click="openModal(); compare({{val}}, {{values.trueval}}, {{$index}})" id="button2">
                <span>R$ {{val}}</span>
                </a>
            </li>
        </ul>
    </ion-content>
</ion-view>
<div class="tabs tabs-icon-top tabs-balanced">
    <a class="tab-item" ng-click="encerrar(); closeModal(); jump(); clean()">
    <i class="icon ion-ios-close-empty"></i>
        Encerrar
    </a>
    <a class="tab-item" ng-click = "jump(); clean()">
    <i class="icon ion-forward" ></i>
        Pular
    </a>
</div>
