<ion-header-bar class="bar bar-header bar-positive"></ion-header-bar>
<div class="round-button-circle">
    <div class="margin-h1" >{{buttons.label}}</div>
</div>
<ion-view>
    <ion-content class="backgroundQuestion padding">
        <div class="text-center opcquest">
            <h4>
                <font color="white">Quanto vale: {{values.ask}}?</font>
            </h4>
        </div>
        <ul class="list "ng-repeat="val in values.val">
            <li class="center">
                <a ng-click="openModal();compare({{val}}, {{values.trueval}}, {{$index}})"id="button2">
                <span>R$ {{val}}</span>
                </a>
            </li>
        </ul>
    </ion-content>
</ion-view>
<div class="tabs tabs-icon-only tabs-positive" ng-init="onTimeout()">
    <div class="progress2"></div>
    <div class="progress" style="width: {{counter*7}}%;"></div>

    <a class="tab-item" ng-click="encerrar(); closeModal(); jump();">
    <i class="icon ion-android-close"></i>
    </a>
    <a class="tab-item" ng-click = "jumpa(); clean()">
    <i class="icon ion-ios-redo"></i>
    </a>
</div>
