<nav mfb-menu position="tr" effect="zoomin"
     active-icon="ion-close-round" resting-icon="ion-plus-round"
     toggling-method="click">
     <button mfb-button icon="ion-android-contact" label="{{user.name}}"></button>
     <button mfb-button icon="ion-gear-a" label="Opções"></button>

</nav>
<ion-view>
    <ion-content scroll="false" class="padding">
        <div class="logo icon-profile text-center">
            <form ng-submit ="newPlayer()">
                <img class="circular animated zoomInDown" ng-src="https://graph.facebook.com/{{ user.id }}/picture?width=600&height=600" />
                <h1>
                  <font color="white">Bem-vindo,</font>
                </h1>
                <h2 class="color-font" >{{user.name}}!</h2>
                <input  type="hidden" name="player_name" ng-model="user.name" />
            <input type="hidden" name="player_name" ng-model="user.id" />
            </form>
        </div>
        <div class="margin-button">
            <button ui-sref="theme.theme" ng-click="GetID(5)" class="button button-block button-calm icon-left ion-plus">
                Novo Jogo
            </button>
            <button ui-sref="leaderboard.leaderboard" class="button button-block button-calm icon-left ion-navicon">
                Maiores Pontuações
            </button>
            <button ng-click="add()" class="button button-block button-calm icon-left ion-navicon">
                Cadastrar
            </button>
            <button ng-click="logout()" class="button button-block button-calm icon-left ion-ios-close-empty">
                Log Out
            </button>
        </div>
    </ion-content>
</ion-view>
