<ion-view>
    <ion-content class="icon-profile padding">
        <ul class="list full-image">
            <li class="border">
                <h1>Escolha um tema</h1>
            </li>
            <li ui-sref="question.question" class="button button-block button-calm">
                Contratos
            </li>
            <li ui-sref="question.question" class="button button-block button-calm">
                Contratos
            </li>
            <li ui-sref="question.question" class="button button-block button-calm">
                Contratos
            </li>
        </ul>
    </ion-content>
</ion-view>
<div class="bar bar-header bar-clear">
    <a class="button button-clear icon-left ion-ios-arrow-left" ui-sref="start.start"> Voltar <a>
</div>
