<%= @contratos.each do |c| %>
    <div id="contrato-information-<%=c.id%>">
        <%= link_to "Responder", :controller => "contratos", :action => "show" %>
            Quanto vale:
        <%= link_to c.objeto, :controller => "contratos", action: "show", :id => c.id %>
     </div> <br>
<% end %>
